
body{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}
.content{
    width: 100%;
    height: 100%;
    margin: auto;
    max-width: 760px;
    min-width: 300px;
    letter-spacing: 1px;
    overflow: hidden;
}
.feedback{
    width: 100%;
    height:81px;
    background-color: white;
   display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}
.feedback img{
    width: 127px;
    height: 41px;
}
.feedback img:active{
    opacity: 0.5;
}
.commonProblemFont{
    margin-top: 18px;
    height: 30px;
    font-size: 14px;
    color: #999999;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.item.on .foldReason{
    display: block;
}
.item.on .foldOpen{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
    -moz-transform: rotate(180deg); /* Firefox */
}
.contentFont{
    background-color: white;
    height: 50px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
    color: #404040;
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    justify-content: space-between;
}
.contentFont img{
    width: 18px;
    height: 18px;
}

.foldReason{
    background-color: white;
    display: none;
    font-size: 12px;
    color: #737373;
    line-height: 20px;
    padding:10px 24px 25px 24px ;
    border-top:1px solid #e0e0e0;
    /*border-bottom: 1px solid #e0e0e0;*/
}
.footer1{
    font-size: 12px;
    color: #9c9c9c;
    position: fixed;
    bottom: 20px;
    left: 24px;
    right: 24px;
    width:auto;
    text-align: center;
    margin: auto;
    max-width: 760px;
    /*min-width: 300px;*/
}
.footerBox{
    -moz-border-radius:1.8rem;
    -webkit-border-radius:1.8rem;
    border-radius:1.8rem;
    border: 1px dashed #9c9c9c;
    line-height: 17px;
}
