body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1786px;
  height:747px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u0 {
  position:absolute;
  left:124px;
  top:39px;
  width:1786px;
  height:747px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1786px;
  white-space:nowrap;
}
