
/*案例容器-分组*/
.demo-group{
    position: relative;
    width: 90%;
    padding: 20px;
    border: solid 5px #4a4a4a;
    border-radius: 5px;

    margin-top: 40px;
}
/*案例容器*/
.demo{
    position: relative;
    display: inline-block;
    width: 57%;
    padding: 30px;
    border: dashed 3px black;
    border-radius: 3px;

    margin-top: 40px;
}

/*元素的说明-上方中部标签*/
.top-tag{
    position: absolute;
    top:-10px;
    left:30%;

    color: #ff9700;
    background-color: #1B1B1B;
    border: solid 2px black;
    border-radius: 3px;

    font-size: 16px;
    line-height: 16px;
}
/*元素的说明-角落小标签*/
.corner-tag{
    position: absolute;
    top:-10px;
    right:-15px;

    color: #ff9700;
    background-color: #1B1B1B;
    border: solid 2px black;
    border-radius: 3px;

    font-size: 14px;
    line-height: 14px;
}
/*案例描述部分*/
.remark{
    position: absolute;
    left: 105%;
    width: 50%;
    padding: 20px;
    top:-10px;
    color:#79ff75;
    background-color: black;
    border-radius: 3px;
}
/*案例描述中的注意事项*/
.remark .notice{
    color: #E31687;
    font-style: italic;

    margin-top: 5px;
}